#carouselExampleInterval {
    max-height: 30vh;
    display: flex;
    text-align: center;
}

.carousel-inner {
    max-height: 30vh;
}

.carousel-item {
    max-height: 30vh;
    position: relative;
}

.carousel-item img {
    max-height: 30vh;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
}



label {
    color: rgb(173, 173, 173);
}

.icon {
    height: 30px;
    width: 30px;
}

.list-unstyled li a {
    text-decoration: none;
}

.row {
    width: 100%;
}

.gradiente {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

footer {
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

input::placeholder {
    color: rgb(150, 150, 150) !important;
}