#carouselExampleInterval {
    max-height: 30vh;
    display: flex;
    text-align: center;
}

.carousel-inner {
    max-height: 30vh;
}

.carousel-item {
    max-height: 30vh;
    position: relative;
}

.carousel-item img {
    max-height: 30vh;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
}



label {
    color: rgb(173, 173, 173);
}

.icon {
    height: 30px;
    width: 30px;
}

.list-unstyled li a {
    text-decoration: none;
}

.row {
    width: 100%;
}

.gradiente {
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

footer {
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

input::placeholder {
    color: rgb(150, 150, 150) !important;
}